body {
  margin: 0;
  padding: 0;
  /* font-family: 'BurbankBigCondensed-Black'; */
  height: 732px;
  width: 412px;
}

html {
  background-color: #eeeeee;
}

p {
  color: #757575;
}

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-Regular'), url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('trueType');
}
@font-face {
  font-family: 'Roboto-Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-Italic'), url('./assets/fonts/Roboto/Roboto-Italic.ttf') format('trueType');
}

@font-face {
  font-family: 'Roboto-Black';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-Black'), url('./assets/fonts/Roboto/Roboto-Black.ttf') format('trueType');
}
@font-face {
  font-family: 'Roboto-BlackItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-BlackItalic'),
    url('./assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('trueType');
}
@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-Light'), url('./assets/fonts/Roboto/Roboto-Light.ttf') format('trueType');
}
@font-face {
  font-family: 'Roboto-LightItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-LightItalic'),
    url('./assets/fonts/Roboto/Roboto-LightItalic.ttf') format('trueType');
}
@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-Bold'), url('./assets/fonts/Roboto/Roboto-Bold.ttf') format('trueType');
}
@font-face {
  font-family: 'Roboto-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-BoldItalic'),
    url('./assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('trueType');
}
@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-Medium'), url('./assets/fonts/Roboto/Roboto-Medium.ttf') format('trueType');
}
@font-face {
  font-family: 'Roboto-MediumItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-MediumItalic'),
    url('./assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('trueType');
}
@font-face {
  font-family: 'Roboto-Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-Thin'), url('./assets/fonts/Roboto/Roboto-Thin.ttf') format('trueType');
}
@font-face {
  font-family: 'Roboto-ThinItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-ThinItalic'),
    url('./assets/fonts/Roboto/Roboto-ThinItalic.ttf') format('trueType');
}
